@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 72px;
  background: #1F2937;
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
  align-items: center;
  height: 32px;
  padding-left:128px;
  list-style: none;
}

.headerlinks {
  display: flex;
  margin-left: auto;
  padding-right: 128px;
}

.headerlinks * *{
  display: flex;
  list-style: none;
  margin-left: auto;
  justify-content: flex-end;
  text-align: end;
  font-weight: 100;
  padding: 2px;
  text-decoration: none;
  color: #F9FAF8;
}

.mid {
  display: flex;
  background: #1F2937;
  color: #F9FAF8;
  align-items: center;
}


.midleft {
  height: auto;
  padding: 16px;
  flex-shrink: 0;
  padding: 128px;
  width: 512px;
}

.subtext {
  padding-bottom: 8px;
  color: #e5e7eb;
  font-size: 18px;
}


.action .button{
  border-radius: 8px;
  background: #3882f6;
}

.action .button a {
  text-decoration: none;
  color: #f9faf8;
  border-style:solid;
}

.subhead {
  font-size: 48px;
  font-weight: 900;
}

.mid .titleimage {
  display: flex;
  padding-right: 128px;
  min-height: 0;
  min-width: 0;
}

.mid .titleimage img {
  display: flex;
  min-height: 0;
  min-width: 0;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  padding: 36px;
  color: #1F2937;
}

.nocnodes {
  display: flex;
  justify-content: space-around;
  
}

.nocnodes *{
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 256px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chappie > img,.suzume > img,.noriko > img,.haruto > img {
  border: 2px solid #3882f6;
  border-radius: 16px;
  min-width: 0;
  min-height: 0;
}

.testimonials {
  display: flex;
  background-color: lightgray;
  color: #1F2937;
  padding: 128px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  background-color: lightgray;
  color: #1F2937;
  padding: 64px 128px 0 128px;
}

.attribution {
  text-align: end;
  font-weight: bold;
  background-color: lightgray;
  color: #1F2937;
  padding-right: 128px;
  padding-bottom: 64px;
}

.call {
  display: flex;
  margin: 128px;
  padding: 24px;
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 100;
  justify-content: space-around;
}

.sub {
  font-weight: 900;
}

.actionbutton {
  align-self: center;
  background-color: #3882f6;
  color: white;
  border-color: white;
  border-style: solid;
  border-radius: 8px;
  height: fit-content;
  padding: 2px 8px 2px 8px;
}

.footer {
  display: flex;
  background: #1F2937;
  color: #F9FAF8;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 8px;
  font-size: small;
}